{% extends "test_app/base.html" %}
{% block main %}
{% load mathfilters %}
<h4>10年連続売上上昇率10%以上</h4>
<!-- {{Input_Form}} -->
  <p>結果：{{counter}}件見つかりました。</p>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">コード</th>
        <th scope="col">銘柄</th>
        <th scope="col">売上上昇1</th>
        <th scope="col">売上上昇2</th>
        <th scope="col">売上上昇3</th>
        <th scope="col">売上上昇4</th>
        <th scope="col">売上上昇5</th>
        <th scope="col">売上上昇6</th>
        <th scope="col">売上上昇7</th>
        <th scope="col">売上上昇8</th>
        <th scope="col">売上上昇9</th>
        <th scope="col">売上上昇10</th>
      </tr>
    </thead>
    <tbody>
      {% for page in pages %}
      {% if page.y_u_1 > 0 and page.y_u_2 > 0 and page.y_u_3 > 0 and page.y_u_4 > 0 and page.y_u_5 > 0 and page.y_u_6 > 0 and page.y_u_7 > 0 and page.y_u_8 > 0 and page.y_u_9 > 0 and page.y_u_10 > 0 %}
      <tr>
        <th scope="row"><a href="https://kabutan.jp/stock/finance?code={{page.code}}">{{ page.code}}</a></th>
        <td>{{ page.name }}</td>
        <td>{{page.y_u_0| div:page.y_u_1 |sub:1|mul:100|floatformat}}</td> 
        <td>{{page.y_u_1| div:page.y_u_2 |sub:1|mul:100|floatformat}}</td>
        <td>{{page.y_u_2| div:page.y_u_3 |sub:1|mul:100|floatformat}}</td>
        <td>{{page.y_u_3| div:page.y_u_4 |sub:1|mul:100|floatformat}}</td>
        <td>{{page.y_u_4| div:page.y_u_5 |sub:1|mul:100|floatformat}}</td>
        <td>{{page.y_u_5| div:page.y_u_6 |sub:1|mul:100|floatformat}}</td> 
        <td>{{page.y_u_6| div:page.y_u_7 |sub:1|mul:100|floatformat}}</td>
        <td>{{page.y_u_7| div:page.y_u_8 |sub:1|mul:100|floatformat}}</td>
        <td>{{page.y_u_8| div:page.y_u_9 |sub:1|mul:100|floatformat}}</td>
        <td>{{page.y_u_9| div:page.y_u_10 |sub:1|mul:100|floatformat}}</td>
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
