{% extends "test_app/base.html" %}
{% block main %}
<h4>ファンダメンタルズ結果一覧</h4>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">すべての結果</h5>
        <p class="card-text">東証一部上場企業の全てのファンダメンタルズの結果を見ることができます。</p>
        <a href="{% url 'test_app:fanda_all' %}" class="btn btn-primary">結果はコチラ</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">条件①</h5>
        <p class="card-text">直近1~2四半期の利益が+100%以上 & <br>直近3四半期の増益率が+40%以上</p>
        <a href="{% url 'test_app:fanda_test1' %}" class="btn btn-primary">結果はコチラ</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
