{% extends "test_app/base.html" %}
{% block main %}
<h4>ファンダメンタルズ結果一覧</h4>
<div class="row mt-4">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">利益が10年連続10%以上上昇している銘柄</h5>
        <p class="card-text"></p>
        <a href="{% url 'test_app:fanda_test3' %}" class="btn btn-primary">結果はコチラ</a>
      </div>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">利益が5年連続10%以上上昇している銘柄</h5>
        <p class="card-text"></p>
        <a href="{% url 'test_app:fanda_all' %}" class="btn btn-primary">結果はコチラ</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">今は使用できません</h5>
        <p class="card-text"></p>
        <a href="{% url 'test_app:fanda_test1' %}" class="btn btn-primary">結果はコチラ</a>
      </div>
    </div>
  </div>
</div>
<div class="row mt-4">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">売上が10年連続10%以上上昇している銘柄</h5>
        <p class="card-text"></p>
        <a href="{% url 'test_app:fanda_test2' %}" class="btn btn-primary">結果はコチラ</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
