{% extends "test_app/base.html" %}
{% block main %}
<h4>リアルシミュレーションで条件に当てはまった銘柄を抽出</h4>

  <p>ボリバン+2σにタッチ</p>
  <!-- <table>
    <tr>
      <th>日にち</th>
      <th>コード</th>
      <th>終値</th>
      <th>ボリバン2σ</th>
    </tr> 
   {% for data in datas %}
    <tr>
      <th>{{ data.Date }}</th>
      <th><a href="#">{{data.code}}</a></th>
      <th>{{data.Close}}</th>
      <th>{{data.BB}}</th>
    </tr> 
    {% endfor %}
  </table> -->

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">日にち</th>
        <th scope="col">コード</th>
        <th scope="col">終値</th>
        <th scope="col">ボリバン+2σ</th>
      </tr>
    </thead>
    <tbody>
      {% for data in datas %}
      <tr>
        <th scope="row">{{ data.Date }}</th>
        <td><a href="#">{{data.code}}</td>
        <td>{{data.Close}}</td>
        <td>{{data.BB}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
